<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean class="com.mycompany.Test" name="check">
		<!--   Only Use in integer -->
	<!-- 	<constructor-arg value="10" type="int" index="1"/>
         <constructor-arg value="10" type="int" index="0"/>
          -->
          <!--   Only Use in String -->
        <!--  <constructor-arg value="10" type="String" index="1"/>
         <constructor-arg value="10" type="String" index="0"/>
          -->
          <!--   Only Use in Double -->
           <constructor-arg value="10" type="double" index="1"/>
         <constructor-arg value="10" type="double" index="0"/>
	</bean>
</beans>